/* NProgress Custom Styling - YouTube-style progress bar */

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: linear-gradient(90deg, #0F766E 0%, #0d9488 50%, #0F766E 100%);
  background-size: 200% 100%;
  animation: shimmer 2s linear infinite;
  
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 3px;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #0F766E, 0 0 5px #0F766E;
  opacity: 1.0;
  
  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove the default spinner */
#nprogress .spinner {
  display: none;
}

/* Show the bar above everything */
#nprogress .bar {
  z-index: 999999 !important;
}

